.search {
}

.search input {
  border: 1px solid rgb(187, 187, 187);
  padding-block: 0.5rem;
  border-radius: 8px;
  padding-inline: 0.5rem;
  color: rgba(82, 82, 255, 0.5);
}

.search input:focus {
  outline: none;
  box-shadow: 0px 1px 7px 1px rgba(82, 82, 255, 0.5);
  border-color: rgba(82, 82, 255, 0.5);
}

.search input::placeholder {
  color: rgba(82, 82, 255, 0.5);
}
